[submodule "libft"]
	path = libft
	url = https://github.com/cristinaAlarcon98/libft.git
[submodule "get_next_line_v2"]
	path = get_next_line_v2
	url = https://github.com/cristinaAlarcon98/get_next_line_v2
